<h1 class="text-center Title">Select Your Favorite Pokemon Characters!</h1>

<div class="card-group">
  ${charactersToSend.map((character) => `
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1613771404784-3a5686aa2be3?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="Pokemon-image"alt="...">
        <div class="card-body">
          <h5 class="card-title">${character.name}</h5>
          <h5 class="card-title">${character.type}</h5>
          <h5 class="card-title">${character.weakness}</h5>
          <p class="card-text">      </p>
         
        </div>
      </div>
    `).join('')}
  </div>